.signin_container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.signin_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 3px 3px #c9c9c9;
    background-color: #ffffff;
}

.signin_form p{
    font-size: 2rem;
    font-weight: bolder;
}

.signin_form input {
    padding: 0.5rem 1rem ;
    border-radius: 0.625rem;
    border: 1px solid #8d8d8d;
    outline: none;
}

.signin_form button{
    padding: 0.5rem 1rem ;
    border-radius: 0.625rem;
    border: none;
    cursor: pointer;
    background-color: #c90c05;
    color: #ffffff;
    width: 100%;
}